body {
  font-family: "Rajdhani", sans-serif;
}
.container {
  background-color: #d1f0ee;
  max-width: 100%;
  width: 80%;
  margin: 60px auto;
  padding: 15px;
  height: 750px;
  border: 1px solid rgba(116, 211, 205, 0.5);
  border-radius: 10px;
}
.card-now {
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background-color: #ace4e0;
  width: 20%;
  max-width: 100%;
  border-radius: 20%;
  box-shadow: 10px 5px 5px rgba(116, 211, 205, 0.5);
}
#weather-icon {
  width: 30%;
}
#forecast-icon {
  width: 40%;
}

.future-days {
  margin: 20px;
}

.card {
  background-color: #ace4e0;
  border-radius: 10px;
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.card-body {
  padding: auto;
  text-align: center;
  justify-content: center;
}
.card-text {
  font-size: 18px;
}
.height {
  height: 18vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(116, 211, 205, 0.5);
}
.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #ace4e0;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #ace4e0;
  color: black;
  border-color: rgba(116, 211, 205);
}
.btn-primary-location {
  margin: 3px;
  height: 35px;
  width: 110px;
  background: rgba(116, 211, 205);
  color: black;
  border-color: #ace4e0;
}
